Repository ThetaStation/ThetaStation, pull requests merged in 2022-12, with the labels that each got.

#12 Афигеть шип тест ивент
  Content.Client/Shuttles/BUI/ShuttleConsoleBoundUserInterface.cs
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Server/Ghost/Roles/Components/UsePlayerNameForEntityNameComponent.cs
  Content.Server/Ghost/Roles/UsePlayerNameForEntityNameSystem.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/StationEvents/Events/Theta/ShipEvent.cs
  Content.Shared/Shuttles/Events/ShuttleConsoleChangeShipNameMessage.cs
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/launchers/launchers.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/lmgs/lmgs.ftl
  Resources/Locale/ru-RU/shuttles/console.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/launchers/launchers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/lmgs/lmgs.ftl
  Resources/Locale/ru-RU/station-events/events/ship-event.ftl
  Resources/Maps/Shuttles/beetle.yml
  Resources/Maps/Shuttles/ship_test_1.yml
  Resources/Maps/Shuttles/ship_test_2.yml
  Resources/Maps/Shuttles/syndicate_fighter.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/closets.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/guns.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/human.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/machinery.yml
  Resources/Prototypes/GameRules/Theta/events.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: Changes: Localization, Changes: UI

#25 Бафы и фиксы режима
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/guns.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/human.yml
Labels: No C#

#28 Удаляет юзелесс кнопки в ишуях
  .github/ISSUE_TEMPLATE/config.yml
Labels: No C#

#29 Proposal-форма для ишуев
  .github/ISSUE_TEMPLATE/proposal.yml
Labels: No C#

#34 Рудиментарная система фракций и команды шиптест ивента
  Content.Server/Ghost/Roles/Components/GhostRoleMobSpawnerComponent.cs
  Content.Server/Roles/PlayerFaction.cs
  Content.Server/Roles/Role.cs
  Content.Server/ShipEvent/Components/ShipEventFactionComponent.cs
  Content.Server/ShipEvent/Components/ShipEventFactionViewComponent.cs
  Content.Server/ShipEvent/ShipEventRole.cs
  Content.Server/ShipEvent/Systems/ShipEventFactionSystem.cs
  Resources/Locale/ru-RU/shipevent.ftl
  Resources/Prototypes/Entities/Theta/ShipEvent/human.yml
  Resources/Textures/Theta/ShipEvent/ShipFactionIcon.rsi/icon.png
  Resources/Textures/Theta/ShipEvent/ShipFactionIcon.rsi/meta.json
  Resources/Textures/Theta/ShipEvent/ShipTeamView.rsi/icon.png
  Resources/Textures/Theta/ShipEvent/ShipTeamView.rsi/meta.json
Labels: Changes: Localization, Changes: Sprites

#43 мелкофиксы тим
  Content.Client/Theta/ShipEvent/UI/TeamViewBUI.cs
  Content.Client/Theta/ShipEvent/UI/TeamViewWindow.xaml
  Content.Client/Theta/ShipEvent/UI/TeamViewWindow.xaml.cs
  Content.Server/Ghost/Roles/Components/GhostRoleMobSpawnerComponent.cs
  Content.Server/Roles/PlayerFaction.cs
  Content.Server/Theta/ShipEvent/Components/ShipEventFactionComponent.cs
  Content.Server/Theta/ShipEvent/Components/ShipEventFactionViewComponent.cs
  Content.Server/Theta/ShipEvent/ShipEventRole.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystem.cs
  Content.Shared/Theta/ShipEvent/TeamView.cs
  Resources/Locale/ru-RU/shipevent.ftl
  Resources/Maps/Shuttles/beetle.yml
  Resources/Maps/Shuttles/ship_test_1.yml
  Resources/Maps/Shuttles/ship_test_2.yml
  Resources/Maps/Shuttles/syndicate_fighter.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/human.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/machinery.yml
Labels: Changes: Localization, Status: Needs Review, Changes: UI

#44 Update manifest.yml
  Resources/manifest.yml
Labels: No C#
