Repository ThetaStation/ThetaStation, pull requests merged in 2023-03, with the labels that each got.

#79 Худы
  Content.Client/Theta/MobHUD/MobHUDSystem.cs
  Content.Client/Theta/ShipEvent/UI/TeamCreationBUI.cs
  Content.Client/Theta/ShipEvent/UI/TeamCreationWindow.xaml
  Content.Client/Theta/ShipEvent/UI/TeamCreationWindow.xaml.cs
  Content.Client/Theta/ShipEvent/UI/TeamViewWindow.xaml
  Content.Client/Theta/ShipEvent/UI/TeamViewWindow.xaml.cs
  Content.Server/Theta/MobHUD/MobHUDSystem.cs
  Content.Server/Theta/ShipEvent/ShipEventCommands.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystem.cs
  Content.Shared/Theta/MobHUD/MobHUDComponent.cs
  Content.Shared/Theta/MobHUD/MobHUDPrototype.cs
  Content.Shared/Theta/MobHUD/SharedMobHUDSystem.cs
  Content.Shared/Theta/ShipEvent/UI/TeamCreationBoundUserInterfaceState.cs
  Resources/Locale/ru-RU/shipevent.ftl
  Resources/Prototypes/Entities/Theta/ShipEvent/human.yml
  Resources/Prototypes/MobHUDs/shipevent_hud.yml
  Resources/Textures/Theta/ShipEvent/ShipHUDIcon.rsi/icon.png
  Resources/Textures/Theta/ShipEvent/ShipHUDIcon.rsi/meta.json
Labels: Changes: Localization, Status: Needs Review, Changes: Sprites, Changes: UI

#81 Рефактор системы фракций & прочие мелочи
  Content.Client/Theta/ShipEvent/UI/TeamCreationWindow.xaml
  Content.Server/StationEvents/Events/Theta/ShipEvent.cs
  Content.Server/Theta/ShipEvent/ShipEventCommands.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystem.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystemUtils.cs
  Resources/Locale/ru-RU/shipevent.ftl
  Resources/Prototypes/Theta/Shipevent/shipevent.toml
Labels: Changes: Localization, Changes: UI

#84 Убрал кринж, добавил вывод боезапаса турелей на консоль
  Content.Client/Shuttles/UI/DefaultRadarControl.cs
  Content.Client/Shuttles/UI/RadarConsoleWindow.xaml
  Content.Client/Shuttles/UI/RadarControl.cs
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Client/Theta/ShipEvent/Console/CannonAmmoStatus.cs
  Content.Client/Theta/ShipEvent/Console/CannonConsoleWindow.xaml
  Content.Client/Theta/ShipEvent/Console/CannonConsoleWindow.xaml.cs
  Content.Client/Theta/ShipEvent/Console/CannonRadarControl.cs
  Content.Server/Shuttles/Systems/RadarConsoleSystem.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/Theta/ShipEvent/Console/CannonConsoleSystem.cs
  Content.Shared/Shuttles/BUIStates/RadarConsoleBoundInterfaceState.cs
  Content.Shared/Shuttles/BUIStates/ShuttleConsoleBoundInterfaceState.cs
  Content.Shared/Theta/ShipEvent/Console/CannonConsoleBoundInterfaceState.cs
  Content.Shared/Weapons/Ranged/Components/ContainerAmmoProviderComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.ChamberMagazine.cs
  Resources/Locale/ru-RU/shipevent.ftl
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/abstract.yml
Labels: Changes: Localization, Changes: UI

#90 Фиксы системы тим
  Content.Server/Ghost/Roles/Components/GhostRoleMobSpawnerComponent.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystem.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystemUtils.cs
  Resources/Prototypes/Entities/Theta/ShipEvent/machinery.yml
Labels: Status: Needs Review

#91 Новый бот-синхронизатор
  .github/workflows/upstream-sync.yml
Labels: No C#
