Repository ThetaStation/ThetaStation, pull requests merged in 2023-05, with the labels that each got.

#158 fixes initial amount of shotgun ammo in pack
  Resources/Prototypes/Entities/Theta/ShipEvent/ammo.yml
Labels: No C#

#163 Перекапывание генератора мапы
  Content.Server/StationEvents/Events/Theta/ShipEvent.cs
  Content.Server/Theta/DebrisGeneration/DebrisGenerationSystem.cs
  Content.Server/Theta/DebrisGeneration/Generators/AsteroidGenerator.cs
  Content.Server/Theta/DebrisGeneration/Prototypes/StructurePrototype.cs
  Resources/Prototypes/Theta/Shipevent/debris.yml
  Resources/Prototypes/Theta/Shipevent/shipevent.yml
Labels: Status: Needs Review

#168 Фикс привзяки машинок
  Content.Server/Shuttles/Systems/RadarConsoleSystem.cs
  Content.Server/Theta/ShipEvent/Systems/TurretLoaderSystem.cs
  Resources/Locale/en-US/theta/shipevent/shipevent-ui.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent-ui.ftl
  Resources/Prototypes/DeviceLinking/sink_ports.yml
  Resources/Prototypes/DeviceLinking/source_ports.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/abstract.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/machinery.yml
  Resources/Prototypes/MachineLinking/receiver_ports.yml
  Resources/Prototypes/MachineLinking/transmitter_ports.yml
Labels: Changes: Localization

#170 Фикс шиппикера
  Content.Client/Theta/ShipEvent/UI/ShipPickerWindow.xaml.cs
Labels: Changes: UI

#169 магбутсы шлем ламочка QoL
  Resources/Maps/Shuttles/shiptest-infiltrator.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/human.yml
Labels: No C#

#174 Фикс лобби
  Content.Server/Theta/DebrisGeneration/Generators/AsteroidGenerator.cs
  Resources/Maps/Theta/Shipevent/shipevent-lobby.yml
  Resources/Prototypes/Maps/shipevent-lobby.yml
Labels: Changes: Map

#172 Новые пушки и кораблики
  Content.Client/Theta/ShipEvent/Console/CannonAmmoStatus.cs
  Content.Client/Theta/ShipEvent/UI/ShipPickerWindow.xaml.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/Theta/ShipEvent/CannonSystem.cs
  Content.Server/Theta/ShipEvent/Systems/TurretLoaderSystem.cs
  Content.Shared/Theta/ShipEvent/CannonComponent.cs
  Content.Shared/Theta/ShipEvent/SharedCannonSystem.cs
  Content.Shared/Theta/ShipEvent/ShipType.cs
  Content.Shared/Theta/ShipEvent/UI/TurretLoaderBoundUserInterfaceState.cs
  Content.Shared/Weapons/Ranged/Components/ContainerAmmoProviderComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Container.cs
  Resources/Audio/Theta/Shipevent/artillery.ogg
  Resources/Locale/en-US/theta/shipevent/shipevent-objects.ftl
  Resources/Locale/en-US/theta/shipevent/shipevent-ships.ftl
  Resources/Locale/en-US/theta/shipevent/shipevent-ui.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent-objects.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent-ships.ftl
  Resources/Maps/Shuttles/shiptest-infiltrator.yml
  Resources/Maps/Theta/Shipevent/Ships/shipevent-arrowhead.yml
  Resources/Maps/Theta/Shipevent/Ships/shipevent-boxship.yml
  Resources/Maps/Theta/Shipevent/Ships/shipevent-mule.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/ammo.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/abstract.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/ammo-ballistic.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/ballistic.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/rocket.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/shotgun.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/human.yml
  Resources/Prototypes/Theta/Shipevent/shipevent.yml
  Resources/Prototypes/Theta/Shipevent/ships.yml
  Resources/Textures/Theta/ShipEvent/Objects/AmmoArtillery.rsi/bullet.png
  Resources/Textures/Theta/ShipEvent/Objects/AmmoArtillery.rsi/cartridge.png
  Resources/Textures/Theta/ShipEvent/Objects/AmmoArtillery.rsi/meta.json
  Resources/Textures/Theta/ShipEvent/ShipPreviews/arrowhead-preview.png
  Resources/Textures/Theta/ShipEvent/ShipPreviews/boxship-preview.png
  Resources/Textures/Theta/ShipEvent/ShipPreviews/infiltrator-preview.png
  Resources/Textures/Theta/ShipEvent/ShipPreviews/mule-preview.png
Labels: Changes: Localization, Changes: Sprites, Changes: UI
