Repository ThetaStation/ThetaStation, pull requests merged in 2023-07, with the labels that each got.

#211 Генерация ченджлога
  .github/workflows/cl.yml
  Tools/cl-req.txt
  Tools/cl.py
Labels: No C#

#213 Changed main to master for CL generation
  .github/workflows/cl.yml
Labels: No C#

#214 Changed main to master for CL generation (2)
  Tools/cl.py
Labels: No C#

#206 Проверка препятствий для турелей
  Content.Client/Theta/CannonDebugOverlay.cs
  Content.Client/Theta/ShipEvent/CannonSystem.cs
  Content.Client/Theta/ShipEvent/Systems/BoundsOverlay.cs
  Content.Server/Theta/ShipEvent/CannonSystem.cs
  Content.Server/Theta/ShipEvent/GenerateCannonFiringRangesCommand.cs
  Content.Server/Theta/ShipEvent/TurretLoaderBindCommand.cs
  Content.Shared/Theta/ShipEvent/CannonComponent.cs
  Content.Shared/Theta/ShipEvent/SharedCannonSystem.cs
  Resources/Maps/Theta/Shipevent/Ships/shipevent-arrowhead.yml
  Resources/Maps/Theta/Shipevent/Ships/shipevent-boxship.yml
  Resources/Maps/Theta/Shipevent/Ships/shipevent-mule.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/ballistic.yml
Labels: Status: Needs Review

#219 Фейл экшона ченджлога если ченджлога нет
  Tools/cl.py
Labels: No C#

#215 Изменение шаблона ПРов
  .github/PULL_REQUEST_TEMPLATE.md
Labels: No C#

#216 Диапазоны пушек на скипджеке
  Resources/Maps/Theta/Shipevent/Ships/shipevent-skipjack.yml
Labels: No C#

#225 Микро-нёрф коробки
  Resources/Maps/Theta/Shipevent/Ships/shipevent-boxship.yml
Labels: No C#

#226 Ионка
  Resources/Maps/Theta/Shipevent/shipevent-lobby.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/ammo-ballistic.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/ammo-energy.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/ballistic.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/energy.yml
  Resources/Textures/Theta/ShipEvent/Objects/Energy.rsi/blue.png
  Resources/Textures/Theta/ShipEvent/Objects/Energy.rsi/green.png
  Resources/Textures/Theta/ShipEvent/Objects/Energy.rsi/meta.json
Labels: No C#, Changes: Sprites

#223 Микроисправления и фича
  Content.Client/Theta/ModularRadar/UI/ShuttleConsole/ModularRadarShuttleConsoleWindow.xaml
  Content.Server/Shuttles/Systems/RadarConsoleSystem.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystem.cs
  Resources/Locale/en-US/theta/shipevent/shipevent-ships.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent-ships.ftl
Labels: Changes: Localization, Changes: UI

#229 Очередной фикс ченджлога
  Tools/cl.py
Labels: No C#

#232 Ещё правки ченджлога
  .github/workflows/cl.yml
  Tools/cl.py
Labels: No C#

#234 Update cl.yml
  .github/workflows/cl.yml
Labels: No C#

#224 Шапки и лутбоксы
  Content.Server/StationEvents/Events/Theta/ShipEvent.cs
  Content.Server/Theta/DebrisGeneration/Processors/FlagIFFProcessor.cs
  Content.Server/Theta/ShipEvent/Components/ShipEventLootboxSpawnTriggerComponent.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystem.Lootboxes.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystem.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystemUtils.cs
  Resources/Locale/en-US/theta/shipevent/shipevent-objects.ftl
  Resources/Locale/en-US/theta/shipevent/shipevent.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent-objects.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent.ftl
  Resources/Maps/Theta/Shipevent/Lootboxes/shipevent-lootbox-abandonedship.yml
  Resources/Maps/Theta/Shipevent/Lootboxes/shipevent-lootbox-asteroid.yml
  Resources/Maps/Theta/Shipevent/Lootboxes/shipevent-lootbox-box.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/ballistic.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/items.yml
  Resources/Prototypes/Theta/Shipevent/lootboxes-loot.yml
  Resources/Prototypes/Theta/Shipevent/lootboxes.yml
  Resources/Prototypes/Theta/Shipevent/shipevent.yml
  Resources/Textures/Theta/ShipEvent/Objects/AmmoContainer.rsi/container-rare.png
  Resources/Textures/Theta/ShipEvent/Objects/AmmoContainer.rsi/meta.json
Labels: Changes: Localization, Changes: Sprites

#228 Количество патронов в examine у лоадеров
  Content.Server/Theta/AmmoContainer/AmmoContainerComponent.cs
  Content.Server/Theta/AmmoContainer/AmmoContainerSystem.cs
  Content.Server/Theta/ShipEvent/Systems/TurretLoaderSystem.cs
  Resources/Locale/en-US/theta/shipevent/shipevent-ui.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent-ui.ftl
  Resources/Prototypes/Entities/Theta/ShipEvent/items.yml
Labels: Changes: Localization

#230 Удаление команд без активных игроков
  Content.Server/Roles/PlayerFaction.cs
  Content.Server/Theta/ShipEvent/Console/TeamConsoleSystem.cs
  Content.Server/Theta/ShipEvent/RemoveTeamCommand.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystem.Utils.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystem.cs
  Resources/Locale/en-US/theta/shipevent/shipevent.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent.ftl
Labels: Changes: Localization

#238 Быстрофикс
  Resources/Maps/Theta/Shipevent/Ships/shipevent-arrowhead.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/ballistic.yml
Labels: No C#

#244 Нёрф ионки
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/ammo-energy.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/energy.yml
Labels: No C#

#257 Readme, pull request & issue templates translation
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/proposal.yml
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: Status: Needs Review, No C#

#247 2 фичи
  Content.Server/Corvax/RoundNotifications/RoundNotificationsSystem.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystem.cs
  Resources/Audio/Theta/Shipevent/license.txt
  Resources/Audio/Theta/Shipevent/loop_armory.ogg
  Resources/Audio/Theta/Shipevent/loop_nuke_ops.ogg
  Resources/Audio/Theta/Shipevent/syndicate_station.ogg
  Resources/Locale/en-US/theta/shipevent/shipevent.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent.ftl
  Resources/Prototypes/Theta/Shipevent/audio.yml
Labels: Changes: Localization

#240 Убираю название и номер ПРа из ченджлога
  Tools/cl.py
Labels: No C#

#259 Имя автора ПРа в ченджлоге, если там ничего не указано
  Tools/cl.py
Labels: No C#

#260 Changelog target commit fix
  Tools/cl.py
Labels: No C#

#265 Нерфт шаттла воксов
  Resources/Prototypes/Entities/Theta/ShipEvent/shuttles/tau_vox/walls.yml
Labels: No C#

#264 Machine gun turret buff
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/ammo-ballistic.yml
Labels: No C#

#262 Changed Changelog Parser, Renamed Parser Files, Fixed Dependencies
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/theta_changelog.yml
  Tools/cl-req.txt
  Tools/cl.py
  Tools/theta_changelog_parser_requirements.txt
  Tools/theta_discord_changelog_parser.py
Labels: No C#

#274 fixes changelog parser finding a newline in author
  Tools/theta_discord_changelog_parser.py
Labels: No C#

#258 Lootbox improvements
  Content.Client/Theta/ModularRadar/Modules/ShipEvent/RadarLootboxTimer.cs
  Content.Client/Theta/ModularRadar/RadarSetups/CannonModularRadar.cs
  Content.Client/Theta/ModularRadar/RadarSetups/ModularRadarAll.cs
  Content.Client/Theta/ModularRadar/RadarSetups/ShuttleModularRadar.cs
  Content.Client/Theta/ShipEvent/Systems/LootboxInfoSystem.cs
  Content.Server/Theta/ShipEvent/Components/ShipEventPointStorageComponent.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystem.Lootboxes.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystem.cs
  Content.Shared/Theta/ShipEvent/ShipEventFactionSystemMessages.cs
  Resources/Locale/en-US/theta/shipevent/shipevent-objects.ftl
  Resources/Locale/en-US/theta/shipevent/shipevent.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent-objects.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent.ftl
  Resources/Maps/Theta/Shipevent/Lootboxes/shipevent-lootbox-abandonedship.yml
  Resources/Maps/Theta/Shipevent/Lootboxes/shipevent-lootbox-asteroid.yml
  Resources/Maps/Theta/Shipevent/Lootboxes/shipevent-lootbox-box.yml
  Resources/Prototypes/Theta/Shipevent/lootboxes-loot.yml
Labels: Changes: Localization, Status: Needs Review
