Repository ThetaStation/ThetaStation, pull requests merged in 2023-04, with the labels that each got.

#98 Фиксы пушек и qol
  Content.Client/Shuttles/UI/RadarControl.cs
  Content.Client/Theta/ShipEvent/CannonSystem.cs
  Content.Client/Theta/ShipEvent/UI/TeamViewWindow.xaml
  Content.Client/Theta/ShipEvent/UI/TeamViewWindow.xaml.cs
  Content.Server/Shuttles/Systems/RadarConsoleSystem.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystem.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystemUtils.cs
  Content.Shared/Theta/ShipEvent/SharedCannonSystem.cs
  Content.Shared/Theta/ShipEvent/UI/TeamViewBoundUserInterfaceState.cs
  Resources/Locale/ru-RU/shipevent.ftl
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/rocket.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/shotgun.yml
Labels: Changes: Localization, Changes: UI

#100 Фикс худов
  Content.Client/Theta/MobHUD/MobHUDSystem.cs
  Content.Client/Theta/ShipEvent/UI/TeamCreationWindow.xaml
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystem.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystemUtils.cs
  Content.Shared/Theta/MobHUD/MobHUDPrototype.cs
Labels: Changes: UI

#103 Pull SS14 RU upstream to Theta
  Content.Server/Corvax/ChatFilter/ChatSystem.cs
  Resources/Changelog/ChangelogSyndie.yml
  Resources/Locale/ru-RU/medical/components/crew-monitoring-component.ftl
  Resources/Locale/ru-RU/medical/components/suit-sensor-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
Labels: Changes: Localization

#107 Два маленьких изменения
  Content.Client/Theta/ShipEvent/Console/CannonConsoleWindow.xaml.cs
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/shotgun.yml
Labels: Changes: UI

#104 Переводы Шиптест Сообщений
  Resources/Locale/en-US/shipevent.ftl
Labels: Changes: Localization, No C#

#109 Карта лобби
  Resources/Maps/Theta/Shipevent/lobby.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Maps/shipevent-lobby.yml
  Resources/Prototypes/Roles/Jobs/Fun/assistant_godmode.yml
  Resources/Prototypes/Theta/Shipevent/shipevent-mappool.yml
  Resources/Prototypes/Theta/Shipevent/shipevent.toml
Labels: No C#, Changes: Map

#111 хотфикс лобби мапы
  Content.Client/LateJoin/LateJoinGui.cs
  Content.Server/Theta/ShipEvent/Console/TeamConsoleSystem.cs
  Content.Shared/Roles/DepartmentPrototype.cs
  Content.Shared/Roles/JobPrototype.cs
  Resources/Locale/en-US/job/department.ftl
  Resources/Maps/Theta/Shipevent/lobby.yml
  Resources/Prototypes/Roles/Jobs/Fun/assistant_godmode.yml
Labels: Changes: Localization

#106 Зарядники для турелей
  Content.Client/Shuttles/UI/RadarControl.cs
  Content.Client/Theta/ShipEvent/Console/CannonAmmoStatus.cs
  Content.Client/Theta/ShipEvent/Console/CannonConsoleWindow.xaml.cs
  Content.Client/Theta/ShipEvent/Systems/ClientTurretLoaderSystem.cs
  Content.Client/Theta/ShipEvent/UI/TurretLoaderBUI.cs
  Content.Client/Theta/ShipEvent/UI/TurretLoaderWindow.xaml
  Content.Client/Theta/ShipEvent/UI/TurretLoaderWindow.xaml.cs
  Content.Client/Theta/ShipEvent/Visualizers/TurretLoaderVisualizer.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/Roles/PlayerFaction.cs
  Content.Server/Shuttles/Systems/RadarConsoleSystem.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystem.cs
  Content.Server/Theta/ShipEvent/Systems/TurretLoaderSystem.cs
  Content.Server/Theta/ShipEvent/TurretLoaderBindCommand.cs
  Content.Shared/Shuttles/BUIStates/RadarConsoleBoundInterfaceState.cs
  Content.Shared/Theta/ShipEvent/CannonComponent.cs
  Content.Shared/Theta/ShipEvent/Components/TurretLoaderComponent.cs
  Content.Shared/Theta/ShipEvent/SharedCannonSystem.cs
  Content.Shared/Theta/ShipEvent/UI/TurretLoaderBoundUserInterfaceState.cs
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/launchers/launchers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/launchers/launchers.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent-objects.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent-ui.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent.ftl
  Resources/Maps/Shuttles/shiptest-infiltrator.yml
  Resources/Maps/Test/test_map.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/ammo.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/rocket.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/shotgun.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/closets.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/human.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/items.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/machinery.yml
  Resources/Prototypes/MachineLinking/transmitter_ports.yml
  Resources/Prototypes/Theta/Shipevent/shipevent.toml
  Resources/Textures/Theta/ShipEvent/Objects/AmmoContainer.rsi/container-bluespace.png
  Resources/Textures/Theta/ShipEvent/Objects/AmmoContainer.rsi/container.png
  Resources/Textures/Theta/ShipEvent/Objects/AmmoContainer.rsi/meta.json
  Resources/Textures/Theta/ShipEvent/ShipFactionIcon.rsi/icon.png
  Resources/Textures/Theta/ShipEvent/Structures/Machines/TurretLoader.rsi/loader-loaded.png
  Resources/Textures/Theta/ShipEvent/Structures/Machines/TurretLoader.rsi/loader.png
  Resources/Textures/Theta/ShipEvent/Structures/Machines/TurretLoader.rsi/meta.json
Labels: Changes: Localization, Changes: Sprites, Changes: UI

#113 Мгновенный респавн при смерти
  Content.Server/Roles/PlayerFaction.cs
  Content.Server/StationEvents/Events/Theta/ShipEvent.cs
  Content.Server/Theta/ShipEvent/Components/ShipEventSpawnerComponent.cs
  Content.Server/Theta/ShipEvent/Console/TeamConsoleSystem.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystem.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystemUtils.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Systems/ArtifactDeathTriggerSystem.cs
  Resources/Locale/ru-RU/theta/shipevent/shipevent-ui.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent.ftl
  Resources/Prototypes/Entities/Theta/ShipEvent/machinery.yml
  Resources/Prototypes/Theta/Shipevent/shipevent.toml
Labels: Changes: Localization

#112 Pull SS14 RU upstream to Theta
  Resources/Changelog/ChangelogSyndie.yml
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/dwarf.ftl
Labels: Changes: Localization, No C#

#114 Фиксы фиксы фиксы
  Content.Client/Shuttles/UI/RadarControl.cs
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml
  Content.Client/Theta/ShipEvent/Console/CannonConsoleWindow.xaml.cs
  Content.Server/StationEvents/Events/Theta/ShipEvent.cs
  Resources/Locale/en-US/shuttles/console.ftl
  Resources/Locale/ru-RU/shuttles/console.ftl
  Resources/Prototypes/Entities/Theta/ShipEvent/ammo.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/rocket.yml
Labels: Changes: Localization, Changes: UI

#120 Pull SS14 RU upstream to Theta
  Content.Client/Corvax/DiscordAuth/DiscordAuthGui.xaml
  Content.Client/Corvax/DiscordAuth/DiscordAuthGui.xaml.cs
  Resources/Changelog/ChangelogSyndie.yml
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/lockers/medical.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/outerclothing/base_clothingouter.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/decoration/present.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/piping/atmospherics/unary.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/power/generation/generators.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/shuttles/thrusters.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/storage/filing_cabinets.ftl
  Resources/Locale/ru-RU/corvax/discord-auth/discord-auth-state.ftl
  Resources/Locale/ru-RU/paper/book-salvage.ftl
  Tools/ss14_ru/fluentast.py
Labels: Changes: Localization, Changes: UI

#122 Фичи фиксы и баланс
  Content.Server/Theta/ShipEvent/Components/InheritanceIFFComponent.cs
  Content.Server/Theta/ShipEvent/Systems/InheritanceIFFSystem.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystem.cs
  Resources/Locale/en-US/holiday/greet/holiday-greet.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/holiday/greet/holiday-greet.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Maps/Shuttles/shiptest-infiltrator.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/ammo.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/rocket.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/shotgun.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/machinery.yml
  Resources/Prototypes/holidays.yml
Labels: Changes: Localization

#125 Фикс таймера и всего-всего после рестарта
  Content.Client/Theta/MobHUD/MobHUDOverlay.cs
  Content.Client/Theta/MobHUD/MobHUDSystem.cs
  Content.Client/Theta/ShipEvent/UI/TeamCreationWindow.xaml
  Content.Server/StationEvents/Events/Theta/ShipEvent.cs
  Content.Server/Theta/ShipEvent/Console/TeamConsoleSystem.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystem.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystemUtils.cs
  Resources/Locale/en-US/theta/shipevent/shipevent-objects.ftl
  Resources/Locale/en-US/theta/shipevent/shipevent-ui.ftl
  Resources/Locale/en-US/theta/shipevent/shipevent.ftl
  Resources/Locale/ru-RU/station-events/events/ship-event.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent-ui.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent.ftl
  Resources/Maps/Theta/Shipevent/asteroid-1.yml
  Resources/Maps/Theta/Shipevent/asteroid-2.yml
  Resources/Maps/Theta/Shipevent/asteroid-3.yml
  Resources/Maps/Theta/Shipevent/wreck-1.yml
  Resources/Maps/Theta/Shipevent/wreck-2.yml
  Resources/Maps/Theta/Shipevent/wreck-3.yml
  Resources/Maps/Theta/Shipevent/wreck-4.yml
  Resources/Maps/Theta/Shipevent/wreck-5.yml
  Resources/Maps/Theta/Shipevent/wreck-6.yml
  Resources/Maps/Theta/Shipevent/wreck-7.yml
  Resources/Prototypes/GameRules/Theta/events.yml
  Resources/Prototypes/MobHUDs/shipevent_hud.yml
  Resources/Prototypes/Theta/Shipevent/shipevent.toml
Labels: Changes: Localization, Changes: UI

#148 Встроенный в мозг радар
  Content.Client/UserInterface/Screens/DefaultGameScreen.xaml
  Content.Client/UserInterface/Screens/DefaultGameScreen.xaml.cs
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml.cs
  Content.Client/UserInterface/Systems/Radar/Controls/SimpleRadar.cs
  Content.Client/UserInterface/Systems/Radar/RadarUIController.cs
  Content.Client/UserInterface/Systems/Radar/Widgets/RadarGui.xaml
  Content.Client/UserInterface/Systems/Radar/Widgets/RadarGui.xaml.cs
  Content.Shared/Theta/RadarHUD/RadarHUDComponent.cs
  Content.Shared/Theta/RadarHUD/RadarHUDSystem.cs
  Resources/Prototypes/Entities/Theta/ShipEvent/human.yml
Labels: Changes: UI

#128 Новая система генерации обломков (попытка вторая)
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Shuttles/UI/RadarControl.cs
  Content.Server/StationEvents/Events/Theta/ShipEvent.cs
  Content.Server/Theta/DebrisGeneration/DebrisGenerationSystem.cs
  Content.Server/Theta/DebrisGeneration/Generators/AsteroidGenerator.cs
  Content.Server/Theta/DebrisGeneration/Generators/MapLoaderGenerator.cs
  Content.Server/Theta/DebrisGeneration/Processors/AddComponentProcessor.cs
  Content.Server/Theta/DebrisGeneration/Processors/FlagIFFProcessor.cs
  Content.Server/Theta/DebrisGeneration/Prototypes/StructurePrototype.cs
  Content.Server/Theta/ShipEvent/Console/TeamConsoleSystem.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystem.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystemUtils.cs
  Content.Shared/Mobs/Systems/MobThresholdSystem.cs
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.IFF.cs
  Content.Shared/Theta/MobHUD/MobHUDPrototype.cs
  Resources/Maps/Theta/Shipevent/asteroid-1.yml
  Resources/Maps/Theta/Shipevent/asteroid-2.yml
  Resources/Maps/Theta/Shipevent/asteroid-3.yml
  Resources/Maps/Theta/Shipevent/wreck-1.yml
  Resources/Maps/Theta/Shipevent/wreck-2.yml
  Resources/Maps/Theta/Shipevent/wreck-3.yml
  Resources/Maps/Theta/Shipevent/wreck-4.yml
  Resources/Maps/Theta/Shipevent/wreck-5.yml
  Resources/Maps/Theta/Shipevent/wreck-6.yml
  Resources/Maps/Theta/Shipevent/wreck-7.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/shotgun.yml
  Resources/Prototypes/GameRules/Theta/events.yml
  Resources/Prototypes/Theta/Shipevent/debris.yml
  Resources/Prototypes/Theta/Shipevent/shipevent.yml
  Resources/Prototypes/Theta/Shipevent/ships.yml
Labels: Status: Needs Review

#150 Мелкофиксы
  Content.Client/Theta/MobHUD/MobHUDOverlay.cs
  Content.Client/Theta/ShipEvent/UI/TeamCreationBUI.cs
  Content.Client/Theta/ShipEvent/UI/TeamCreationWindow.xaml
  Content.Client/Theta/ShipEvent/UI/TeamCreationWindow.xaml.cs
  Content.Server/Mind/MindTrackerSystem.cs
  Content.Server/StationEvents/Events/Theta/ShipEvent.cs
  Content.Server/Theta/ShipEvent/Console/TeamConsoleSystem.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystem.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystemUtils.cs
  Content.Shared/Theta/MobHUD/MobHUDPrototype.cs
  Content.Shared/Theta/ShipEvent/UI/ShipEventCreateTeamBoundUserInterfaceState.cs
  Content.Shared/Theta/ShipEvent/UI/TeamViewBoundUserInterfaceState.cs
  Resources/Locale/en-US/theta/shipevent/shipevent.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent.ftl
  Resources/Prototypes/Theta/Shipevent/shipevent.yml
Labels: Changes: Localization, Changes: UI
