Repository ThetaStation/ThetaStation, pull requests merged in 2023-06, with the labels that each got.

#175 Рамки игрового поля
  Content.Client/Shuttles/UI/RadarControl.cs
  Content.Client/Theta/ShipEvent/Systems/BoundsOverlay.cs
  Content.Client/Theta/ShipEvent/Systems/BoundsOverlaySystem.cs
  Content.Client/Theta/ShipEvent/UI/CaptainMenuWindow.xaml.cs
  Content.Client/Theta/ShipEvent/UI/ShipPickerWindow.xaml.cs
  Content.Client/Theta/ShipEvent/UI/TeamCreationWindow.xaml.cs
  Content.Server/StationEvents/Events/Theta/ShipEvent.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystem.PlayAreaBounds.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystem.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystemUtils.cs
  Content.Shared/Theta/ShipEvent/ShipEventFactionSystemMessages.cs
  Resources/Locale/en-US/theta/shipevent/shipevent.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent.ftl
  Resources/Prototypes/Shaders/shaders.yml
  Resources/Prototypes/Theta/Shipevent/shipevent.yml
  Resources/Prototypes/Theta/Shipevent/ships.yml
  Resources/Textures/Theta/ShipEvent/Shaders/mono_color.swsl
Labels: Changes: Localization, Status: Needs Review, Changes: UI

#183 Mini-QoL
  Content.Client/Theta/ShipEvent/UI/ShipPickerWindow.xaml
  Content.Client/Theta/ShipEvent/UI/TeamCreationWindow.xaml
  Content.Client/Theta/ShipEvent/UI/TeamCreationWindow.xaml.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystem.cs
  Resources/Locale/en-US/theta/shipevent/shipevent.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent.ftl
Labels: Changes: Localization, Changes: UI

#201 Больше функциональности для меню капитана
  Content.Client/Theta/ShipEvent/UI/CaptainMenuBUI.cs
  Content.Client/Theta/ShipEvent/UI/CaptainMenuWindow.xaml
  Content.Client/Theta/ShipEvent/UI/CaptainMenuWindow.xaml.cs
  Content.Server/Roles/PlayerFaction.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystem.CaptainMenu.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystem.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventFactionSystemUtils.cs
  Content.Shared/Theta/ShipEvent/UI/ShipEventCaptainMenuBoundUserInterfaceState.cs
  Resources/Locale/en-US/theta/shipevent/shipevent-ui.ftl
  Resources/Locale/en-US/theta/shipevent/shipevent.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent-ui.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent.ftl
Labels: Changes: Localization, Changes: UI

#195 Корректировки текста
  Content.Client/Theta/ShipEvent/UI/ShipPickerWindow.xaml.cs
  Resources/Locale/en-US/theta/shipevent/shipevent-objects.ftl
  Resources/Locale/ru-RU/info/rules.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent-objects.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent-ships.ftl
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/ammo-ballistic.yml
  Resources/Prototypes/Entities/Theta/ShipEvent/cannons/ballistic.yml
  Resources/ServerInfo/ThetaRules.txt
Labels: Changes: Localization, Changes: UI

#200 Рефактор радара на динамические модули
  Content.Client/Shuttles/UI/RadarControl.cs
  Content.Client/Theta/ModularRadar/ModularRadarControl.cs
  Content.Client/Theta/ModularRadar/Modules/RadarCannons.cs
  Content.Client/Theta/ModularRadar/Modules/RadarControlCannons.cs
  Content.Client/Theta/ModularRadar/Modules/RadarDocks.cs
  Content.Client/Theta/ModularRadar/Modules/RadarGrids.cs
  Content.Client/Theta/ModularRadar/Modules/RadarMobs.cs
  Content.Client/Theta/ModularRadar/Modules/RadarPosition.cs
  Content.Client/Theta/ModularRadar/Modules/RadarProjectiles.cs
  Content.Client/Theta/ModularRadar/Modules/RadarVelocity.cs
  Content.Client/Theta/ModularRadar/Modules/ShipEvent/RadarPlayAreaBounds.cs
  Content.Client/Theta/ModularRadar/RadarModule.cs
  Content.Client/Theta/ModularRadar/RadarSetups/CannonModularRadar.cs
  Content.Client/Theta/ModularRadar/RadarSetups/ModularRadarAll.cs
  Content.Client/Theta/ModularRadar/RadarSetups/ModularRadarHUD.cs
  Content.Client/Theta/ModularRadar/RadarSetups/ShuttleModularRadar.cs
  Content.Client/Theta/ModularRadar/UI/ShuttleConsole/ModularRadarShuttleConsoleBoundUserInterface.cs
  Content.Client/Theta/ModularRadar/UI/ShuttleConsole/ModularRadarShuttleConsoleWindow.xaml
  Content.Client/Theta/ModularRadar/UI/ShuttleConsole/ModularRadarShuttleConsoleWindow.xaml.cs
  Content.Client/Theta/ShipEvent/Console/CannonConsoleWindow.xaml
  Content.Client/Theta/ShipEvent/Systems/RadarHUDSystem.cs
  Content.Client/UserInterface/Controls/MapGridControl.cs
  Content.Client/UserInterface/Screens/DefaultGameScreen.xaml
  Content.Client/UserInterface/Screens/DefaultGameScreen.xaml.cs
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml.cs
  Content.Client/UserInterface/Systems/Radar/Controls/SimpleRadar.cs
  Content.Client/UserInterface/Systems/Radar/RadarUIController.cs
  Content.Client/UserInterface/Systems/Radar/Widgets/RadarGui.xaml
  Content.Client/UserInterface/Systems/Radar/Widgets/RadarGui.xaml.cs
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: UI
