Repository ThetaStation/ThetaStation, pull requests merged in 2024-12, with the labels that each got.

#457 Новый список команд
  Content.Client/Theta/ShipEvent/UI/TeamViewBUI.cs
  Content.Client/Theta/ShipEvent/UI/TeamViewWindow.xaml
  Content.Client/Theta/ShipEvent/UI/TeamViewWindow.xaml.cs
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventTeamSystem.Modifiers.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventTeamSystem.Utils.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventTeamSystem.cs
  Content.Shared/Theta/ShipEvent/UI/TeamViewBoundUserInterfaceState.cs
  Resources/Locale/en-US/theta/shipevent/shipevent-ui.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent-ui.ftl
  Resources/Prototypes/Theta/Shipevent/Structures/machinery.yml
Labels: Changes: Localization, Changes: UI

#461 Флоты
  .vscode/launch.json
  Content.Client/Theta/ShipEvent/UI/AdmiralMenuBUI.cs
  Content.Client/Theta/ShipEvent/UI/AdmiralMenuWindow.xaml
  Content.Client/Theta/ShipEvent/UI/AdmiralMenuWindow.xaml.cs
  Content.Client/Theta/ShipEvent/UI/CaptainMenuBUI.cs
  Content.Client/Theta/ShipEvent/UI/CaptainMenuWindow.xaml
  Content.Client/Theta/ShipEvent/UI/CaptainMenuWindow.xaml.cs
  Content.Client/Theta/ShipEvent/UI/TeamCreationBUI.cs
  Content.Client/Theta/ShipEvent/UI/TeamCreationWindow.xaml.cs
  Content.Client/Theta/ShipEvent/UI/TeamListControl.cs
  Content.Client/Theta/ShipEvent/UI/TeamLobbyWindow.xaml
  Content.Client/Theta/ShipEvent/UI/TeamLobbyWindow.xaml.cs
  Content.Client/Theta/ShipEvent/UI/TeamViewBUI.cs
  Content.Client/Theta/ShipEvent/UI/TeamViewWindow.xaml
  Content.Client/Theta/ShipEvent/UI/TeamViewWindow.xaml.cs
  Content.Server/StationEvents/Events/Theta/ShipEvent-FlagCapture.cs
  Content.Server/StationEvents/Events/Theta/ShipEvent.cs
  Content.Server/Theta/ShipEvent/Console/TeamConsoleSystem.cs
  Content.Server/Theta/ShipEvent/ShipEventAdminComands.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventTeamSystem.AdmiralMenu.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventTeamSystem.Anomalies.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventTeamSystem.CaptainMenu.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventTeamSystem.Utils.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventTeamSystem.cs
  Content.Shared/Roles/Theta/ShipEventFleet.cs
  Content.Shared/Roles/Theta/ShipEventTeam.cs
  Content.Shared/Theta/MobHUD/MobHUDPrototype.cs
  Content.Shared/Theta/ShipEvent/Components/ShipEventActionStorageComponent.cs
  Content.Shared/Theta/ShipEvent/Components/ShipEventTeamMarkerComponent.cs
  Content.Shared/Theta/ShipEvent/ShipEventToggleActions.cs
  Content.Shared/Theta/ShipEvent/UI/AdmiralMenuBoundInterfaceState.cs
  Content.Shared/Theta/ShipEvent/UI/CaptainMenuBoundUserInterfaceState.cs
  Content.Shared/Theta/ShipEvent/UI/ShipEventCaptainMenuBoundUserInterfaceState.cs
  Content.Shared/Theta/ShipEvent/UI/ShipEventCreateTeamBoundUserInterfaceState.cs
  Content.Shared/Theta/ShipEvent/UI/ShipPickerBoundUserInterfaceState.cs
  Content.Shared/Theta/ShipEvent/UI/TeamInterfaceState.cs
  Content.Shared/Theta/ShipEvent/UI/TeamViewBoundUserInterfaceState.cs
  Resources/Locale/en-US/theta/shipevent/shipevent-sefc.ftl
  Resources/Locale/en-US/theta/shipevent/shipevent-ui.ftl
  Resources/Locale/en-US/theta/shipevent/shipevent.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent-sefc.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent-ui.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent.ftl
  Resources/Prototypes/MobHUDs/shipevent_hud.yml
  Resources/Prototypes/Theta/Shipevent/Misc/actions.yml
  Resources/Prototypes/Theta/Shipevent/Misc/huds.yml
  Resources/Prototypes/Theta/Shipevent/Misc/radio.yml
  Resources/Prototypes/Theta/Shipevent/Mobs/human.yml
  Resources/Prototypes/Theta/Shipevent/shipevent.yml
  Resources/Textures/Theta/ShipEvent/Actions.rsi/admiral.png
  Resources/Textures/Theta/ShipEvent/Actions.rsi/meta.json
  Resources/Textures/Theta/ShipEvent/ShipEventHUDIcon.rsi/admiral.png
  Resources/Textures/Theta/ShipEvent/ShipEventHUDIcon.rsi/captain.png
  Resources/Textures/Theta/ShipEvent/ShipEventHUDIcon.rsi/member.png
  Resources/Textures/Theta/ShipEvent/ShipEventHUDIcon.rsi/meta.json
Labels: Changes: Localization, Changes: Sprites, Changes: UI

#462 Захват точек, пресеты мапгена
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Theta/ShipEvent/Systems/ClientShipEventPointMinerSystem.cs
  Content.Client/Theta/ShipEvent/Systems/ClientTurretLoaderSystem.cs
  Content.Server/StationEvents/Events/Theta/ShipEvent.cs
  Content.Server/Theta/MapGen/Distributions/FunnyDistribution.cs
  Content.Server/Theta/MapGen/Distributions/NoiseDistribution.cs
  Content.Server/Theta/MapGen/Distributions/SimpleDistribution.cs
  Content.Server/Theta/MapGen/Distributions/UniformDistribution.cs
  Content.Server/Theta/MapGen/MapGenSystem.cs
  Content.Server/Theta/MapGen/Prototypes/MapGenPresetPrototype.cs
  Content.Server/Theta/MapGen/Prototypes/MapGenStructurePrototype.cs
  Content.Server/Theta/RadarRenderable/RadarRenderableComponent.cs
  Content.Server/Theta/RadarRenderable/RadarRenderableSystem.cs
  Content.Server/Theta/ShipEvent/Components/ShipEventPointMinerComponent.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventPointMinerSystem.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventTeamSystem.cs
  Content.Server/Theta/ShipEvent/Systems/TurretLoaderSystem.cs
  Content.Shared/Theta/ShipEvent/Misc/ShipEventPointMinerEvents.cs
  Resources/Maps/Theta/Shipevent/Ruins/communism.yml
  Resources/Maps/Theta/Shipevent/Ruins/office.yml
  Resources/Maps/Theta/Shipevent/Ruins/ship.yml
  Resources/Prototypes/Theta/Shipevent/MapGenStructures/asteroids.yml
  Resources/Prototypes/Theta/Shipevent/MapGenStructures/ruins.yml
  Resources/Prototypes/Theta/Shipevent/MapGenStructures/ships.yml
  Resources/Prototypes/Theta/Shipevent/Misc/radarEntityView.yml
  Resources/Prototypes/Theta/Shipevent/Structures/machinery.yml
  Resources/Prototypes/Theta/Shipevent/mapgen.yml
  Resources/Prototypes/Theta/Shipevent/shipevent.yml
  Resources/Textures/Theta/ShipEvent/Structures/Machines/PointMiner.rsi/computer.png
  Resources/Textures/Theta/ShipEvent/Structures/Machines/PointMiner.rsi/generic_keyboard.png
  Resources/Textures/Theta/ShipEvent/Structures/Machines/PointMiner.rsi/generic_keys.png
  Resources/Textures/Theta/ShipEvent/Structures/Machines/PointMiner.rsi/meta.json
  Resources/Textures/Theta/ShipEvent/Structures/Machines/PointMiner.rsi/miner.png
Labels: Changes: Sprites

#469 Худ таймер респавна
  Content.Client/Theta/ShipEvent/Systems/RespawnTimerOverlay.cs
  Content.Client/Theta/ShipEvent/Systems/RespawnTimerOverlaySystem.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventTeamSystem.Utils.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventTeamSystem.cs
  Content.Shared/Theta/ShipEvent/ShipEventTeamSystemMessages.cs
  Resources/Locale/en-US/theta/shipevent/shipevent.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent.ftl
  Resources/Prototypes/Theta/Shipevent/Mobs/human.yml
Labels: Changes: Localization

#470 НУ ТИПА синхронизация таймера респавна.
  Content.Client/Theta/ShipEvent/Systems/RespawnTimerOverlay.cs
  Content.Client/Theta/ShipEvent/Systems/RespawnTimerOverlaySystem.cs
  Content.Server/Theta/ShipEvent/Systems/ShipEventTeamSystem.cs
  Resources/Locale/en-US/theta/shipevent/shipevent.ftl
  Resources/Locale/ru-RU/theta/shipevent/shipevent.ftl
Labels: Changes: Localization
